
*.xcworkspacedata

*.xcuserstate

.DS_Store
iOS/.DS_Store
iOS/iBike/.DS_Store

iOS/iBike/iBike.xcodeproj/xcuserdata/
iOS/iBike/iBike.xcodeproj/project.xcworkspace/xcuserdata/

iOS/iBike/iBike/Libs/FacebookSDK/

iOS/iBike/iBike/Libs/GA v2.0b4/

iOS/iBike/iBike/Libs/MapView/

iOS/iBike/iBike/Libs/Proj4/

iOS/iBike/iBike/Libs/SBJson/

*~


iOS/iBike/iBike/Libs/MapView

iOS/iBike/iBike/Libs/TITokenField

iOS/iBike/iBike/Libs/FacebookSDK

iOS/iBike/iBike/Libs/GA v2.0b4

iOS/iBike/iBike/Libs/SBJson

*.xcbkptlist

iOS/iBike/iBike.xcodeproj/xcuserdata/ivanpavlovic.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOS/iBike/iBike/Classes/RoutingEngine

iOS/iBike/iBike/Libs/DAKeyboardControl
