[submodule "iOS/ibikecph/ibikecph/Libs/routing-engine"]
	path = iOS/ibikecph/ibikecph/Libs/routing-engine
	url = https://github.com/ibikecph/routing-engine.git
[submodule "iOS/ibikecph/ibikecph/Libs/AddressParser"]
	path = iOS/ibikecph/ibikecph/Libs/AddressParser
	url = https://github.com/ivan-pavlovic/AddressParser.git
[submodule "iOS/ibikecph/ibikecph/Libs/DAKeyboardControl"]
	path = iOS/ibikecph/ibikecph/Libs/DAKeyboardControl
	url = https://github.com/danielamitay/DAKeyboardControl.git
[submodule "iOS/ibikecph/ibikecph/Libs/Base64"]
	path = iOS/ibikecph/ibikecph/Libs/Base64
	url = https://github.com/nicklockwood/Base64.git
[submodule "iOS/ibikecph/ibikecph/Libs/TTTAttributedLabel"]
	path = iOS/ibikecph/ibikecph/Libs/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "iOS/ibikecph/ibikecph/Libs/UIImage-Categories"]
	path = iOS/ibikecph/ibikecph/Libs/UIImage-Categories
	url = https://github.com/ivan-pavlovic/UIImage-Categories.git
