
*.xcworkspacedata

*.xcuserstate

.DS_Store

*~

*.xcbkptlist

iOS/ibikecph/ibikecph/smroute_settings_private.plist
GoogleAnalytics
smroute_settings_private.plist
FacebookSDK
ibikecph/html
ibikecph/latex
