<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEOCODING_SEARCH_RADIUS</key>
	<real>250</real>
	<key>USE_APPLE_GEOCODER</key>
	<true/>
	<key>OSRM_ADDRESS</key>
	<string>router.project-osrm.org</string>
	<key>OSRM_SERVER</key>
	<string>http://routes.ibikecph.dk/v1.1/fast</string>
	<key>OSRM_SERVER_CARGO</key>
	<string>http://routes.ibikecph.dk/v1.1/cargo</string>
	<key>OSRM_SERVER_GREEN</key>
	<string>http://routes.ibikecph.dk/v1.1/green</string>
	<key>PLACES_SEARCH_RADIUS</key>
	<string>20000</string>
	<key>FOURSQUARE_SEARCH_RADIUS</key>
	<string>20000</string>
	<key>PLACES_LANGUAGE</key>
	<string>da</string>
	<key>FOURSQUARE_CATEGORIES</key>
	<string>4d4b7104d754a06370d81259,4d4b7105d754a06372d81259,4d4b7105d754a06373d81259,4d4b7105d754a06374d81259,4d4b7105d754a06376d81259,4d4b7105d754a06377d81259,4d4b7105d754a06375d81259,5032891291d4c4b30a586d68,4f2a210c4b9023bd5841ed28,4d4b7105d754a06378d81259,4bf58dd8d48988d1ed931735,4e4c9077bd41f78e849722f9,4bf58dd8d48988d12d951735,4bf58dd8d48988d1fa931735,4bf58dd8d48988d1fc931735,4e74f6cabd41c4836eac4c31,4bf58dd8d48988d1ef941735,4f4530164b9074f6e4fb00ff,4bf58dd8d48988d129951735</string>
	<key>FOURSQUARE_LIMIT</key>
	<string>3</string>
	<key>OIOREST_SEARCH_RADIUS</key>
	<string>50</string>
	<key>OIOREST_AUTOCOMPLETE_SEARCH_RADIUS</key>
	<string>20000</string>
	<key>KORT_SERVICE</key>
	<string>RestGeokeys_v2</string>
	<key>KORT_MAX_RESULTS</key>
	<string>10</string>
	<key>ROUTE_POLYLINE_PRECISION</key>
	<real>1000000</real>
</dict>
</plist>
