<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEOCODING_SEARCH_RADIUS</key>
	<real>250</real>
	<key>USE_APPLE_GEOCODER</key>
	<true/>
	<key>OSRM_ADDRESS</key>
	<string>routes.ibikecph.dk</string>
	<key>OSRM_SERVER</key>
	<string>http://routes.ibikecph.dk</string>
	<key>OSRM_SERVER_CARGO</key>
	<string>http://routes.ibikecph.dk/cargobike</string>
	<key>PLACES_SEARCH_RADIUS</key>
	<string>20000</string>
	<key>FOURSQUARE_SEARCH_RADIUS</key>
	<string>20000</string>
	<key>PLACES_LANGUAGE</key>
	<string>da</string>
	<key>OIOREST_SEARCH_RADIUS</key>
	<string>50</string>
	<key>OIOREST_AUTOCOMPLETE_SEARCH_RADIUS</key>
	<string>20000</string>
</dict>
</plist>
